$color-dark-red: #8b0000;
$color-black: #000000;
$color-metallic-gold: #d4af37;
$color-night-rider: #2f2f2f;
$color-whisper: #eaeaea;
$color-white-smoke: #f5f5f5;
$color-dark-cerulean: #004e8b;
$color-bilbao: #2b7a0b;
$color-very-light-grey: #cccccc;
$color-charcoal: #444444;

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
$max-width: 1280px;

/*
  1. Фон: #eaeaea
    Текст: #2f2f2f
    Акцент: #8b0000 + #d4af37

  2. Карточки / блоки:
    фон #f5f5f5, заголовки #000000,
    декоративные линии #d4af37,
    кнопки #00438b

  3. Ховеры / ссылки:
    #004e8b -> #8b0000 - при наведении
*/
